---
title: Radu Teodorescu
---
<div class="wrapper index">
    <div id="contact">
        <h2>About me</h2>
        <div class="info card">
            <p>I am a Professor in the Department of Computer Science and Engineering at Ohio State University.I lead 
            the Architecture Research Lab. Our research interests include computer architecture, energy efficient computing, 
            security and reliability.I received my Ph.D. from the Department of Computer Science, University of Illinois at 
            Urbana-Champaign where I was a member of the IACOMA group working with Prof. Josep Torrellas. I was the recipient 
            of the Ohio State CSE Department Teaching Award in 2021, the Lumley Award in 2014, an NSF CAREER award in 2012, 
            Intel Foundation Fellowship for 2007-2008 and the W. J. Poppelbaum Award for 2008.We were proud to help organize 
            MICRO-52 in Columbus, Ohio in October 2019.I am looking for bright and motivated students to join my research group. 
            For more details and research updates please visit my group’s website. If you are interested in working with us 
            send me an email or drop by my office.</p>
        </div>
        <br>
        <div class="info teaching">
          <h3>Teaching</h3>
          <p>CSE6421 and CSE3421</p>
        </div>
        <br>
        <div class="info history">
          <h3>Some history</h3>
          <p>I was born in Cluj-Napoca, in the beautiful province of Transilvania in Romania. 
            I received an Engineer Diploma from the Technical University of Cluj-Napoca in 2002.</p>
        </div>
    </div>
</div>





