<!-- title of page should be specified here, for this page should be "Choose Team"-->

<div class="container-fluid">

    <h1>Evaluating: <!--<%= eval_proj %>--></h1>
    <h2>Choose a team to evaluate:</h2>

    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Team Number</th>
                </tr>
            </thead>
            <tbody>
                <!--<% teams.each do |team| %>-->
                <!-- one set of tr will be repeated here, href will have link with get data filled in to pass along info-->
                <tr>
                    <td><a href="#" class="text-dark">Team 1</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="text-dark">Team 2</a></td>
                <tr>
                    <td><a href="#" class="text-dark">Team 3</a></td>
                </tr>
                <!--<% end %>-->
            </tbody>
        </table>
    </div>

</div>