<% content_for :title, "Evalutions - Evaluation Info" %>

<div class="container-fluid text-center">

<h2>Evaluation Results</h2>
<hr>

<p>
<font size="+2">
  <strong>Grade:</strong>
  <%= @evaluation.grade %>
</font>
</p>

<p>
<font size="+2">
  <strong>Comments:</strong>
  <%= @evaluation.comments %>
</font>
</p>

</div>
