
<nav id = "navbar" class="navbar">
    <div class ="nav-item" onclick="window.location.href='index.html'">About Me</div>
    <div class ="nav-item" onclick="window.location.href='publications.html'">Publications</div>
    <div class ="nav-item" onclick="window.location.href='presentations.html'">Presentations</div>
    <div class ="nav-item" onclick="window.location.href='lab.html'">Computer Architecture Research Lab</div>
</nav>
