<div class="sidebar_wrapper">
  <div id="sidebar" class="sidebar">
        <div class="sidebar-pic">
          <img class="img" src="/images/pic.jpg" alt= "Radu Teodorescu">
        </div>
        <div class="sidebar-text">
          <h2>Radu Teodorescu</h2>
        </div>
        <div class="sidebar-text">
          <h3>Professor in the Department of Computer Science and Engineering at The Ohio State University</h3>
        </div>
        <div class="sidebar-text">
          <p>teodorescu@cse.ohio-state.edu</p>
        </div>
        <div class="sidebar-text">
          <p>797 Dreese Labs<br>2015 Neil Ave.<br>Columbus, OH, 43210</p>
        </div>
  </div>
</div>